.App {
  margin-top: 73px;
  margin-right: 50px;
  margin-left: 50px;
}

a{
  text-decoration: none;
  color: black;
}
img{
  object-fit: cover;
}
section {
  margin: 40px 0;
}
.section-header {
  margin-bottom: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 50;
}
.profile{
  position: relative;
}
.profile-dropdown-menu{
  position: absolute;
  display: none;
  padding: 0;
  left: -18px;
  top: 43px;
  background: #fff;
  list-style: none;
  font-size: 13px;
  width: 107px;
  color: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
.open{
  display: block;
}
.profile-dropdown-menu>li{
  padding: 5px;
}
.profile-dropdown-menu>li:hover{
  background: #eaeaea;
  
}
.mobile-nav-container {
  display: none;
}

.brand-name {
  color: #45b7f3;
  position: relative;
  top: 4px;
  max-width: 280px;
}
.brand-name> a > img {
  width: 100%;
}
.nav-items {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
}
.nav-item {
  padding: 0 10px;
  font-family: "Poppins-Regular";
  cursor: pointer;
  color: black;
}
.nav-item:hover {
  color: #45b7f3;
}
.count {
  background: black;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
 
}
.hide-sm-search {
  display: none;
}
.hamburger {
display: none;
}

@media screen and (max-width: 992px) {
  .first-part-nav {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }
  .line1 {
    border: 1px solid black;
    width: 31px;
    margin-top: 4px;
  }
  .line2 {
    border: 1px solid black;
    width: 15px;
    margin-top: 4px;
  }
  .line3 {
    border: 1px solid black;
    width: 31px;
    margin-top: 4px;
  }
  .mobile-nav-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
  }
  .mobile-nav {
    position: relative;
    width: 225px;
    padding: 0;
    margin: 0;
    height: 100%;
    background: #fff;
    left: 0px;
    top: 71px;
  }
  .mobile-nav > header {
    border-bottom: 1.5px solid #cecece;
    font-family: "Poppins-Bold";
    padding: 19px 0;
    padding-left: 14px;
    display: flex;
    justify-content: space-between;
  }
  .mobile-nav-first-item {
    padding: 15px 0;
    padding-left: 14px;
    list-style: none;
    cursor: pointer;
    font-size: 14px;
  }
  .mobile-nav-first-item>span:hover{
    border-bottom: 1px solid #737373;
  }
  .mobile-nav-item {
    padding: 15px 0;
    padding-left: 14px;
    list-style: none;
    cursor: pointer;
    font-size: 14px;
  }
  .mobile-nav-item:hover {
    background: #e8e8e8;
  }
  .close:hover {
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
  }
  .hidemobile {
    left: -230px;
    position: relative;
  }
  .hidemobileNav {
    z-index: -1000;
    background: #fff;
  }

}
@media screen and (max-width: 700px) {
  .hide-sm-search {
    display: flex;
  }
  .search-input-container {
    position: absolute;
    z-index: -1000;
    top: 46px;
    opacity: 0;
    border-radius: 16px;
    padding: 6px 13px;
    background: #e8e8e8;
    right: 26px;
  }
  .show-sm-search {
    opacity: 1;
    z-index: 10;
    top: 80px;
  }
  .bigSearch {
    display: none !important;
  }
}
@media screen and (max-width: 980px) {
  .App {
   
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 550px) {
  .App {
    margin-right: 5px;
    margin-left: 5px;
  }
  .navbar {
    padding: 8px 10px;
  }
  .responsive-icon {
    font-size: 14px;
  }
  .brand-name {
    width: 90px;
    top: 13px;
  }
  .line1 {
    width: 20px;
  }

  .line2 {
    width: 10px;
  }

  .line3 {
    width: 20px;
  }
}
@media screen and (max-width: 400px) {
  .responsive-icon {
    font-size: 12px;
  }
}

@media screen and (max-width: 370px) {
  .brand-name {
    width: 71px;
    top: 13px;
  }
}

/* category */

.category-section {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  margin: 0 auto;
  cursor: pointer;
}
.col-1-3,
.col-2-3,
.col-3-3 {
  overflow: hidden;
}
.category {
  overflow: hidden;
  position: relative;
}
.category-img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
  display: block;
}
.category-img:hover {
  transform: scale(1.1);
}

.col-2-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 580px) {
  .category-section {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .col-3-3 {
    position: relative;
    left: 50%;
  }
}

/* button */

.button1 > button {
  background: #fff;
  padding: 13px 44px;
  font-family: "Poppins";
  position: absolute;
  bottom: 16px;
  left: 50%;
  border: none;
  transform: translateX(-50%);
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  .button1 > button {
    padding: 2px 12px;
  }
}
/* form */
.error-message {
  padding: 9px 2px;
  background: #eca2a2;
  color: #8e0606;
}
.form-container {
  max-width: 500px;
  margin: 0 auto;
}


.main-form-input {
  display: flex;
  flex-direction: column;
}

.main-form-input > input {
  height: 27px;
  background: #f1f0f0;
  border: 1px #f1f0f0;
  outline: none;
  padding: 5px;
}
.main-form-input > label {
  margin-top: 24px;
  margin-bottom: 6px;
}

.form-button {
  background: #56cfe1;
  color: #fff;
  border: 1px #56cfe1;
  height: 35px;
  padding: 1px 20px;
  margin: 30px 0;
  cursor: pointer;
  outline: none;
}
.form-button:hover {
  background: #4cbfd0;
}
.form-bottom>a{
  text-decoration: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
@media screen and (max-width: 960px) {
    .form-container {
        max-width: 1000px;
      }
    

}


/* trending */

.trending-body {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-column-gap: 20px;
	grid-row-gap: 15px;
	margin-bottom: 20px;
}
.trending-container > header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-line {
  width: 74px;
  border: 1px solid black;
  margin: 0 20px;
}
.load-more-button-container {
  text-align: center;
}
.load-more-button {
  background: #fff;
  border: 2px solid black;
  border-radius: 43px;
  padding: 11px 19px;
  font-family: "Poppins-Bold";
  cursor: pointer;
  text-transform: uppercase;
}
.load-more-button:hover {
  color: #fff;
  background: #56cfe1;
  border: 2px solid #56cfe1;
}

@media screen and (max-width: 630px) {
  .trending-body {
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  }
}
@media screen and (max-width: 530px) {
  .trending-body {
    grid-template-columns: repeat(2, 1fr);
  }
  
}
/* product */
.product-container {
  max-width: 270px;
  position: relative;
  justify-self: center;
  cursor: pointer;
}

.image-container {
  background: black;
}
.image-container > img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  display: block;
}
.image-container > img:hover {
  opacity: 0.7;
}

.image-container:hover .hover-card {
  display: flex;
}
.hover-card {
  position: absolute;
  top: 50%;
  background: #fff;
  border-radius: 26px;
  padding: 7px;
  font-size: 14px;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 20px;
  width: 97px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}
.hover-card:nth-child(2) {
  top: 36%;
}
.hover-card > .icon {
  transform: translateY(121%);
  transition: 0.3s ease-in-out;
  font-size: 19px;
}
.hover-card > .card-name {
  transform: translateY(-130%);
  transition: 0.3s ease-in-out;
}
.hover-card:hover {
  background: #151313;
  color: #fff;
}
.hover-card:hover .card-name {
  transform: translateY(-260%);
}
.hover-card:hover .icon {
  transform: translateY(3%);
}

.product-name {
  margin-bottom: 0;
  font-size: 14px;
  text-transform: capitalize;
  color: black;
}
.product-price {
  color: #999292;
  font-style: italic;
  margin-top: 0;
  font-size: 13px;
}
.hover-card-mob {
  background: #fff;
  color: black;
  display: none;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 65px;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 5px;
}
.icon-clicked>svg{
  fill: #fff;
}
.icon-mob {
  color: black;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  border-radius: 14px;
  cursor: pointer;
}
.icon-mob-clicked {
  background: black;
  color: #fff;
  transition: 0.5s;
}
@media screen and (max-width: 1024px) {
  .hover-card-mob {
    display: flex;
  }
  .hover-card {
    z-index: -10000;
    opacity: 0;
  }


}
@media screen and (max-width: 770px) {
 
  .header-line {
    width: 20px;
  }
  .product-container {
    max-width: 200px ;
  }
  .product-name,
  .product-price {
    font-size: 12px;
  }
}

@media screen and (max-width: 630px) {
  .product-container {
    max-width: 165px;
  }
}

/* services-info */

.services-info {
  display: flex;
  justify-content: space-between;
  background: #bfe7ff;
  margin-right: -50px;
  margin-left: -50px;
  padding: 15px 50px;
  text-transform: capitalize;
  margin-bottom: 0px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .services-info {
    flex-direction: column;
  }
  .service {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 550px) {
  .services-info {
    margin-right: -10px;
    margin-left: -10px;
  }
  .service-icon > svg,
  .service-icon > svg > image {
    width: 80px;
    height: 80px;
  }
  .service-info{
    font-size: 13px;
  }
}
/* footer */
footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #181818;
  margin-left: -50px;
  margin-right: -50px;
  color: #ffffff;
  padding: 10px 30px;
}
.footer-header {
  color: #60b0f4;
  margin-bottom: 20px;
  height: 36px;
}
.footer-icon {
  display: flex;
  align-items: center;
  margin-right: 4px;
}
.col {
  margin-bottom: 26px;
}
.col-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-size: 13px;
}
.col-body > div {
  display: flex;
}
.vertical-line{
  display: none;
}

.newsletter-input > input {
  padding: 6px;
  border: none;
  border-bottom: 2px solid #60b0f4;
}
.newsletter-input > button {
  background: #60b0f4;
  border: #60b0f4;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}
.newsletter-input > input:focus {
  outline: none;
}
@media screen and (max-width: 1090px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 10px;
    margin-right: -10px;
    margin-left: -10px;
  }
  .vertical-line {
    border: .5px solid #b9b7b7;
    height: 15px;
  }

  .col-3-4 {
    display: none;
  }

  .col-body {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .col-body > div {
    margin-right: 8px;
  }
}
