.men-section{
    margin: 100px 0;
}
.men-section>.header{
    width: 185px;
    margin-bottom: 40px;
}
.men-section>.header>h2{
    margin: 0;
}
.category-header-line {
	border: 1px solid #45b7f3;
	width: 74px;
	margin: 0;
}

.men-body{
    display: flex;
}

.left {
	width: 23%;
	position: sticky;
	top: 75px;
	height: 569px;
	overflow: auto;
}

.right{
    width: 75%;
    margin-left: 2%;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-column-gap: 14px;
}
section .filter-dropdown{
    margin: 17px 0 ;
}
.filter-header{
    text-transform: uppercase;
    font-size: 13px;
    color: #828282;
}
.filter-option-header{
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
.filter-option-header>span>.open{
        transform: rotate(180DEG);
}
.filter-option-header>span>.hide{
    transform: rotate(360DEG);
}
.dropdown-options {
	list-style: none;
    padding-left: 21px;
    height: 100%;
}
.dropdown-options>.option{
    font-size: 13px;
    cursor: pointer;
    padding: 3px;
    color: #2f2f2f;
    text-transform: capitalize;
}
.dropdown-options>.option:hover{
    background: #f2f2f2;
}
.dropdown-options-hide{
    display: none;
}
@media screen and (max-width: 740px) {
    .left{
       display: none;
    }
    
    .right{
        width: 100%;
        margin-left: 0%;
    }
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }
}
