.navbar{
    display: flex;
    justify-content: space-between;
    padding: 8px 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);

}

.brand-name{
    color: #45b7f3;
}
.brand-name>img{
    width: 280px;
}
.nav-items{
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
}
.nav-item{
    padding: 0 10px;
    font-family:'Poppins-Regular';
    cursor: pointer;
}
.nav-item:hover{
    color: #45b7f3;
}
.count {
	background: black;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	width: 14px;
    height: 14px;
    font-size: 14px;
	text-align: center;
    line-height: 1;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,.3);

}
