@font-face {
  font-family: "Poppins-Bold";
  src: url(./fonts/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(./fonts/Poppins-Regular.ttf) format("truetype");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins-Regular",
    "Poppins-Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
